
  {% macro feed(sources) %}
    {% for source in sources %}
      <div class="col-12">
        <iframe class="center" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F186234470380&tabs=timeline&width=340&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="310" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
      </div>
    {% endfor %}
  {% endmacro %}

