{% extends "page.njk" %}

{% block content %}
  <div id="desc">
    <h1>Campfire</h1>
    <p>Scripted dialogue editor</p>
  </div>
  <div class="whitespace-sm"></div>
  <div id="main">
    <div id="load">
      <h3>Load JSON</h3>
      <input type="file"/>
    </div>
    <div id="lists">
    </div>
    <div id="dialogue">
      <div id="dialog-box">
      </div>
      <button>+</button>
    </div>
  </div>
{% endblock %}
