{% macro hero(bg, text='') %}
<div>
  <div class="heroImg" style="background-image: url('{{ bg }}');">
    <div class="whitespace-md"></div>
    <div class="container-main transparent-black img-rounded whitespace-sm">
      <img src="img/red-gold.png" style="width: 80%; margin-left: 10%;" alt="Killer Pizza"/>
      <h3 class="text-center whitespace-sm">{{ text }}</h3>
    </div>
    <div class="whitespace-md"></div>
  </div>
</div>
{% endmacro %}
