{% raw %}
  <div class="card" draggable="true">
    <div class="card-header">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-2" role="group">
          <button type="button" class="text-content btn btn-primary">T</button>
        </div>
        <div class="btn-group me-2" role="group">
          <button type="button" class="close-content-prompt btn btn-danger">x</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="content-input">
        <div class="input-group input-group-sm">
          <input type="text" class="prompt-content-value form-control" placeholder="Text">
          <button class="prompt-add-content btn btn-outline-secondary" type="button">Add</button>
        </div>
      </div>
    </div>
  </div>
{% endraw %}
