{% raw %}
  <div id="content-input">
    <div class="input-group input-group-sm">
      <input type="text" id="prompt-content-value" class="prompt-content-value form-control" placeholder="Text">
    </div>
  </div>
{% endraw %}
