body, html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 100%;
	background-color: #DDFFD1;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #99FF99;
	font-family: Gulim;
	position: fixed;
	width: 100%;
	height: 5%;
	z-index: 2;
}
.navbar a {
	float: left;
	padding: 1em; 
	color: white;
}
.navbar input {
	/*float: right; 
	bottom: 0;*/
	position: absolute;
	right: 0.7em;
	bottom: 0.7em;
}

#parallax {
    background-image: url('bg/parallax3.jpg');

    height: 100%;
	width: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax img {
	height: auto;
	width: auto;
}

.button {
	padding: 3%;
	font-size: 1.7em;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	font-family: Gulim;
	border: none;
	border-radius: .7em;
	box-shadow: 0 .5em #455B46;
	  
	display: block;
	margin: auto;
}
.button:hover {background-color: #3e8e41}
/*.button a {text-decoration: none;} /*text-decoration: none removes the underline from a hyperlink*/
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 .1em #455B50;
  transform: translateY(.4em);
}

#salesPitch {
	/*Replace with something else for the mobile version*/
}

.rhetoric {
	float: left;
	background-color: #66FF99;
	font-family: Gulim;
	color: white;
	width: 33.333%;
	margin: 0 0 7% 0;

	/*width: 30%;
	margin: 0 1.5%;
	box-shadow: 1em 1em 4em black;*/
}
.rhetoric img {
	display: block;
	margin: 0 2.5%;
	max-width: 95%;
}
.rhetoric h2 {text-align: center;} /*text-align property works with h1-h6*/
.rhetoric p {
	width: 95%;
	color: black;
	margin: 0 2.5%;
}

.gallery {
	width: 70%; 
	display: block; 
	margin: 5% 15% 0 15%;
	font-family: Gulim;
}

.lancerDemo {
	width: 30%;
	height: 30%;
	transition: .5s ease;
	margin: 1%;
	overflow: hidden;
	box-shadow: 1em 1em 4em black;
}
.lancerDemo:hover {
	opacity: 0.7;
	width: 33%;
	height: 33%;
	margin: 0;
}

.bottom {
	margin: 10% 0 0 0;
	background-color: #99FF99; 
	font-family: Gulim; 
	height: auto;
}

.contactUs {
	max-height: 100%; 
	width: 20%; 
	float: right; 
	background-color: #66FF99;
}

.main {
	background-color: #B8FFBE;
	height: 100%;
	width: 100%;
}

.basicForm {
	background-color: #B9EDC6; 
	width: 50%; 
	/*height: 60%;*/
	height: auto;
	margin: 4% 25% 0 25%; 
	/*display: block;*/
	float: left;
	font-family: Gulim;
}

.freelancerForm {
	/*background-color: #B9EDC6;
	width: 35%; 
	height: 100%; 
	margin: 4% 2%;*/ 
	display: none;
}

.financialForm {
	background-color: #C2FF99;
	/*height: 35%;*/
	height: auto;
	width: 50%;
	float: left;
	margin: 0 25%; 
}

.sideMenu {
    height: 100%;
    /*width: 1%;*/
	width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99FF99;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
/*.sideMenu:hover {
	width: 20%;
}*/

.scrollList {
	background-color: #B9EDC6;
	width: 20%;
	height: 70%;
	margin: 10% 1%;
	float: right;
	overflow-y: auto;
}

.scrollGallery {
	background-color: #B9EDC6;
	height: 15%;
	width: 100%;
	position: relative;
	bottom: 0;
	overflow-x: scroll;
}

.card {
	background-color: #B9EDC6;
	width: 80%;
	height: 50%;
	position: relative;
	left: 10%;
	right: 10%;
	top: 50%;
	z-index: 1;
	box-shadow: 1em 1em 4em gray;
}
.cardContent {
	background-color: blue;
	height: 100%;
	width: 66%;
}
.cardContent img {
	width: 100%;
	height: 100%;
}
.cardContact {
	width: 34%;
	height: 66%;
	background-color: red;
	font-family: Gulim;
}
.cardRating {
	font-family: Gulim;
}

/*Mobile Layout*/
@media only screen and (max-width: 800px) {
	.navbar {
		font-size: 0.5em;
		display: none;
	}
	
	.button {
		padding: 6%;
	}
	
	#parallax img {
		height: 50%;
		width: 50%;
	}
	
	.rhetoric {
		font-size: 0.5em;
		width: 100%;
		display: none;
	}
	
	.contactUs {
		font-size: 0.5em;
		display: none;
	}
	
	.basicForm {
		width: 70%;
		margin: 4% 15% 0 15%; 
	}
	
	.financialForm {
		width: 70%;
		margin: 0 15% 0 15%; 
	}
}

@media only screen and (max-height: 450px) {
	.main {
		height: 165%;
	}
}
