body, html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 100%;
	background-color: #DDFFD1;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #99FF99;
	font-family: Gulim;
	position: fixed;
	width: 100%;
	height: 5%;
	z-index: 2;
	transition: 0.5s;
}
.navbar a {
	float: left;
	padding: 1em; 
	color: white;
}
.navbar input {
	/*float: right; 
	bottom: 0;*/
	position: absolute;
	right: 4%;
	bottom: 24%;
}
.navbar go {
	/* float: right; */
	position: absolute;
	right: 0;
}

@font-face {
	font-family: besom;
	src: url('font/Besom.ttf');
}
@font-face {
	font-family: aqua;
	src: url('font/aqua.ttf');
}
@font-face {
	font-family: simplifica;
	src: url('font/SIMPLIFICA Typeface.ttf');
}

#parallax {
    background-image: url('bg/parallax4.jpg');

    height: 100%;
	width: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax img {
	height: auto;
	width: auto;
}
#parallax h1 {
	font-family: 'besom', Gulim;
	font-size: 5em;
	margin-top: 0;
	color: #DDFFD1;
}
#parallax p {
	font-family: 'simplifica', Gulim;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	color: #DDFFD1;
}

.logo {
	opacity: 1; 
	display: block; 
	margin: auto;
}

.tagline {
	position: absolute;
	right: 0;
	top: 5%;
	height: 95%; 
	width: 20%; 
	background-color: #99FF99;
	opacity: 0.5;
	font-family: 'aqua', Gulim;
}

.button {
	padding: 3%;
	font-size: 1.7em;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	font-family: Gulim;
	border: none;
	border-radius: .7em;
	box-shadow: 0 .5em #455B46;
	  
	display: block;
	margin: auto;
}
.button:hover {background-color: #3e8e41}
/* .button a {text-decoration: none;} /*text-decoration: none removes the underline from a hyperlink*/ 
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 .1em #455B50;
  transform: translateY(.4em);
}

.salesPitch {
	/*Replace with something else for the mobile version*/
	background-color: #66FF99;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.rhetoric {
	float: left;
	/*background-color: #66FF99;*/
	font-family: Gulim;
	color: white;
	width: 33.333%;
	margin: 0 0 7% 0;

	/*width: 30%;
	margin: 0 1.5%;
	box-shadow: 1em 1em 4em black;*/
}
.rhetoric img {
	display: block;
	margin: 0 2.5%;
	max-width: 95%;
}
.rhetoric h2 {text-align: center;} /*text-align property works with h1-h6*/
.rhetoric p {
	width: 95%;
	color: black;
	margin: 0 2.5%;
}

.features {
	font-family: Gulim;
	background-color: #327A58;
	color: white;
	text-align: center;
	width: 100%;
	height: auto;
}
.features img {
	display: block;
	margin: auto;
}
.features p {
	font-size: 1.3em;
	margin-bottom: 10%;
}

.payment {
	float: left;
	width: 33.3%;
	height: 3%;
	overflow: hidden;
}
.payment img {
	display: block;
	max-width: 60%;
}

.gallery {
	width: 70%;
	display: block;
	margin: 5% 15% 0 15%;
	font-family: Gulim;
}

.lancerDemo {
	width: 30%;
	/*height: 30%;*/
	transition: .5s ease;
	margin: 1%;
	overflow: hidden;
	box-shadow: 1em 1em 4em black;
}
.lancerDemo:hover {
	opacity: 0.7;
	width: 33%;
	/*height: 33%;*/
	margin: 0;
}

.bottom {
	margin: 10% 0 0 0;
	background-color: #99FF99; 
	font-family: Gulim; 
	height: 20%;
}

.contactUs {
	height: 100%; 
	width: 20%; 
	float: right;  
	background-color: #66FF99;
}
.contactUs a {
	font-family: Gulim;
}

.main {
	background-color: #B8FFBE;
	height: 100%;
	width: 100%;
	overflow: auto; /*fixes that issue of main not covering the whole page*/
}

.basicForm {
	background-color: #B9EDC6; 
	width: 50%; 
	/*height: 60%;*/
	height: auto;
	margin: 4% 25% 0 25%; 
	/*display: block;*/
	float: left;
	font-family: Gulim;
}
.basicForm p {margin: 60% 0 0 0;}

.freelancerForm {
	/*background-color: #B9EDC6;
	width: 35%; 
	height: 100%; 
	margin: 4% 2%;*/ 
	display: none;
}

.financialForm {
	background-color: #C2FF99;
	/*height: 35%;*/
	height: auto;
	width: 50%;
	float: left;
	margin: 0 25%; 
}

.profilePic {
	background-color: green;
	width: 4%; 
	height: 100%;
	transition: 0.5s;
}
.profilePic:hover {
	background-color: blue;
}

.sideMenu {
    /* height: 95%; */
	/* width: 0; */
    width: 1%;
	height: 20%;
    position: fixed;
	top: 40%;
	left: 0;
    /*z-index: 1;
    top: 5%;
    left: 0;*/
    background-color: #99FF99;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideMenu:hover {
	width: 20%;
	height: 74%;
	position: fixed;
    z-index: 0;
    top: 5%;
    left: 0;
}

.scrollList {
	background-color: #B9EDC6;
	width: 20%;
	height: 70%;
	margin: 10% 1%;
	float: right;
	overflow-y: auto;
}

.scrollItem {
	background-color: #99FF99;
	margin: 0 1%;
	width: 18%;
	height: 100%;
	float: left;
	transition: 0.5s;
	font-family: Gulim;
	color: white;
}
.scrollItem:hover {
	opacity: 0.7;
}

.scrollGallery {
	background-color: #B9EDC6;
	height: 15%;
	width: 100%;
	/*height: 1%;
	width: 20%;*/
	z-index: 1;
	position: absolute;
	bottom: 0;
	transition: 0.5s;
}

.card {
	background-color: #B9EDC6;
	/* width: 70%; */
	/* height: 50%; */
	width: 70em;
	height: 32em;
	/*position: absolute; With absolute positioning, two cards are place in the exact same place (on top of each other)*/
	position: relative;
	right: 5%;
	left: 25%;
	top: 15%;
	margin: 0 0 5% 0;
	z-index: 1;
	transition: 0.5s;
	box-shadow: 1em 1em 4em gray;
}
.cardContent {
	background-color: #4CFFC3;
	height: 100%;
	width: 66%;
	float: left;
}
.cardContent img {
	width: 100%;
	height: 100%;
}
.cardContact {
	width: 34%;
	height: 66%;
	background-color: #68C16B;
	font-family: Gulim;
	float: left;
}
.cardRating {
	height: 34%;
	width: 34%;
	background-color: #A5FFC6;
	font-family: Gulim;
	float: left;
}

#editable h1 {
	display: none;
}
#editable:hover {
	opacity: 0.5;
}
#editable:hover h1{
	display: block;
	position: absolute;
	left: 50%;'
	bottom: 0;
	
}

.faq {
	height: auto;
	width: 100%;
	background-color: #327A58;
}
.faq p {
	font-family: 'simplifica', Gulim;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	color: #DDFFD1;
}
.faq h1 {
	font-family: 'besom', Gulim;
	font-size: 5em;
	margin-top: 0;
	color: #DDFFD1;
}
.faq h3 {
	font-family: 'besom', Gulim;
	font-size: 1.5em;
	margin-top: 0;
	color: #DDFFD1;
}

/*Mobile Layout*/
@media only screen and (max-width: 800px) {
	.navbar {
		font-size: 0.5em;
		display: none;
	}
	
	.button {
		padding: 3%;
	font-size: 1em;
	}
	
	#parallax img {
		height: 50%;
		width: 50%;
	}
	#parallax h1 { font-size: 2em;}
	#parallax p {font-size: 2em;}
	
	.salesPitch {
		display: none;
	}
	
	.rhetoric {
		font-size: 0.5em;
		width: 100%;
		display: none;
	}
	
	.contactUs {
		font-size: 0.5em;
		display: none;
	}
	
	.basicForm {
		width: 70%;
		margin: 4% 15% 0 15%; 
	}
	
	.financialForm {
		width: 70%;
		margin: 0 15% 0 15%; 
	}
}

/*@media only screen and (max-height: 450px) {
	.main {
		height: 165%;
	}
}*/