{%
  set links = [
    {
      title: "Projects",
      href: "#projects"
    },
    {
      title: "LinkedIn", 
      href: "https://www.linkedin.com/in/a-jee-sieka-9b0400163/",
      target: "_blank"
    }
  ]
%}

<nav>
  <ul>
    {% for link in links %}
      <li>
        <a href="{{ link.href }}" target="{{ link.target if link.target else "_self" }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
