{%
  set links = [
    {
      title: "About",
      href: "#about"
    },
    {
      title: "Projects",
      href: "#projects"
    },
    {
      title: "Gallery",
      href: "#gallery"
    },
    {
      title: "LinkedIn",
      href: "https://www.linkedin.com/in/a-jee-sieka-9b0400163/",
      target: "_blank"
    }
  ]
%}

<nav>
  <input type="checkbox" id="nav-menu-toggle" />

  <label id="nav-menu-toggle-icon" for="nav-menu-toggle">
    <span>&mdash;</span>
    <span>&mdash;</span>
    <span>&mdash;</span>
  </label>

  <ul class="nav-menu">
    {% for link in links %}
      <li class="nav-menu-item">
        <a href="{{ link.href }}" target="{{ link.target if link.target else "_self" }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
