@font-face {
  font-family: TitleFont;
  src: url(/static/fonts/raleway.regular.ttf);
}

body, html {
  scroll-behavior: smooth;
}

nav {
  border-style: solid none dotted none;
  border-width: thin;
  border-color: #ccc;
}
nav li {
  border-style: none dotted none  none;
  border-width: thin;
  border-color: #ccc;
}
nav .pure-menu-heading {
  border-style: none dotted none  none;
  border-width: thin;
  border-color: #ccc;
}

article {
  padding: 1.5rem 6rem;
  background-color: #000000;
  color: #ffffff;
  /* background-repeat: repeat;
  background-image: url("/static/images/pattern-1.png"); */
}

img {
  max-width: 100%;
}

#rfx-blue {
  color: #1A528B;
}
#rfx-red {
  color: #BA2739;
}
#rfx-white {
  color: #ffffff;
}

.intro-card {
  background-repeat: repeat;
  background-image: url("/static/images/background-pattern-1.png");
  background-size: 50px;
  background-color: #11121c;
  border-width: thin;
  border-style: none none solid none;
  border-color: #ffffff;
  font-family: TitleFont;
  padding: 1rem;
}
.intro-card h1 {
  font-size: 5rem;
  margin-top: 0;
  text-shadow: 2px 2px 2px #474747;
}
.intro-card h1 span {
  color: #ffffff;
  background-color: black;
  white-space: nowrap;
}
.intro-card p {
  font-size: 2rem;
  margin-bottom: 0;
}
.intro-card p span {
  color: #ffffff;
}

.container {
  padding: 1rem;
}

.emphasis-paragraph {
  border-style: none none none solid;
  border-color: #ffffff;
  border-width: thin;
}
.emphasis-paragraph b {
  color: lime;
}
.emphasis-paragraph i {
  color: yellow;
}

.section-header span {
  border-style: none none dashed none;
  border-width: thin;
  border-color: lime;
  font-size: 2.5rem;
}
.section-header h4 {
  margin: 0 0 10px 0;
}
/* .section-header span::before {
  content: '\203A';
} */

.section-anchors {
  margin-top: 0;
}
.section-anchors a {
  color: #ccc;
  text-decoration: none;
}
.section-anchors a:not(:first-child)::before {
  content: ' · ';
}

.subsection-header span {
  border-style: none none none none;
  border-width: thin;
}
.subsection-header span::before {
  content: ' 👁 ';
}

.border-thin-selectable {
  border-style: solid;
  border-width: 0.5px;
  transition: 1s;
  border-color: #ffffff;
}
.border-thin-selectable:hover {
  transition: 1s;
  border-color: lime;
}

.border-seperation {
  border-style: solid none none none;
  border-width: 0.5px;
}

.border-separation-bottom {
  border-style: none none solid none;
  border-width: 0.5px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.thumbnail {
  width: 200px;
  border-radius: 15px;
}

.skill-tag {
  background-color: #ffffff;
  color: #000000;
  padding: 2px;
  line-height: 27px;
}

.social-icon {
  width: 20px;
}

@media (max-width:600px) {
  article {
    padding: 1.5rem;
  }

  .intro-card h1 {
    font-size: 3rem !important;
    margin-top: 0;
  }
}
