@import 'tailwindcss';

@font-face {
  font-family: Raleway;
  src: url(/static/fonts/raleway.regular.ttf);
}

@font-face {
  font-family: Linear-Beam;
  src: url(/static/fonts/linear-beam.0-5.ttf);
}

:root {
  --steel-color: linear-gradient(to left, #60696D, #D3D2D5, #7C7F85, #60696D, #D3D2D5);
  --alt-steel-color: linear-gradient(#D3D2D5 10px, #60696D 15px, #7C7F85 2px);
  --gold-color: linear-gradient(to left, #7a5c1e, #f5e6a8, #c9a23f, #7a5c1e, #f5e6a8);
  --gray: #cccccc;
  --sage: #4d5d53;
  --green: #435154;
  --pottery: #935c55;
  --wheat: #f5deb3;
  --highlight-color: var(--sage);
  --bold-color: var(--green);
}

body, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
  color: #121212;
}

*::selection {
  color: var(--wheat);
  background-color: var(--green);
}

nav {
  border-style: none none solid none;
  border-color: #000000;
  border-width: 2px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: var(--gray);
  border-color: #ffffff;
  border-width: 3px;
  border-style: groove none;
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 45% 70%, 0% 70%);*/
}
nav ul {
  display: flex;
  flex: initial;
  list-style-type: none;
}
nav li {
  flex: initial;
  padding: 10px;
  text-align: center;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
}
nav a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  border-style: dotted;
  border-width: 1px;
  border-color: transparent;
}
nav a:hover {
  color: var(--highlight-color);
  border-style: dotted;
  border-width: 1px;
  border-color: var(--highlight-color);
}

article {
  padding: 1.5rem 6rem;
}

img {
  max-width: 100%;
}

#nav-menu-toggle, #nav-menu-toggle-icon {
  display: none;
}

#nav-menu-toggle-icon {
  padding: 10px;
  text-align: center;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  width: 75px;
  height: 50px;
}
#nav-menu-toggle-icon span {
  display: block;
  line-height: 3px;
  font-weight: bold;
}

.bg-pattern {
  background-image: radial-gradient(circle, #e0e0e0 1px, transparent 0px);
  background-size: 20px 20px;
}

.main-button {
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  border-color: #050709;
  border-width: 1px;
  transition: 0.3s;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%); */
  width: 200px;
  color: #050709;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Audiowide, sans-serif;
  font-size: 1em;
}
.main-button:hover {
  border-color: var(--wheat);
  color: var(--wheat);
  background: var(--highlight-color);
}
.main-button:active {}

  @keyframes intro-card-background {
    0%   {background-position: 0px 0px}
    50% {background-position: 50px 50px}
    100% {background-position: 0px 0px}
  }

.intro-card {
  background: var(--gray);
  /* background-image: radial-gradient(circle, #A8A8A8 1px, var(--gray) 0px);
  background-size: 20px 20px;
  animation-name: intro-card-background;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
  background-image: url(/static/images/sky-1256943_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  border-style: none none solid none;
  border-color: #000000;
  border-width: 2px;
}
.intro-card h1 {
  font-size: 5rem;
  margin-top: 0;
  font-family: Linear-Beam, sans-serif;
  color: var(--sage);
}
.intro-card h1 span {
  white-space: nowrap;
}
.intro-card p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
}
.intro-card p span {
}

.container {
  padding: 1rem;
}

.project-preview-container {
  margin-bottom: 10px;
  overflow: hidden;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  background-color: var(--gray);
  padding: 5px;
}

.project-preview-toolbar {
  background: var(--sage);
  display: flex;
  padding: 5px;
  margin-bottom: 1rem;
}
.project-preview-toolbar p {
  font-family: Raleway, sans-serif;
  text-align: center;
  color: var(--wheat);
}
.project-preview-toolbar p::after {
  content: '↗'
}

.project-preview-text {
  padding: 10px 0;
  font-weight: bold;
}
.project-preview-text::after {
  content: "Click to View."

}

.project-preview-thumbnail {
  border-style: groove;
  border-color: #000000 #ffffff #ffffff #000000;
  border-width: 2px;
}

.emphasis-paragraph {
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  background-color: var(--gray);
  padding: 5px;
}
.emphasis-paragraph b {
  color: var(--bold-color);
}
.emphasis-paragraph p {
  margin-bottom: 2rem;
}
.emphasis-paragraph h4 {
  font-size: 2.5rem;
  color: var(--wheat);
}
.emphasis-paragraph h4 span {
  border-style: none none dashed none;
  border-width: thin;
  border-color: var(--wheat);
}


.emphasis-paragraph-toolbar {
  background: var(--sage);
  display: flex;
  padding: 5px;
  margin-bottom: 1rem;
}

.emphasis-paragraph-content {
  padding: 5px;
  border-color: #000000 #ffffff #ffffff #000000;
  border-width: 2px;
  border-style: groove;
  background-color: #ffffff;
}

.emphasis-paragraph-footer {
}
.emphasis-paragraph-footer p {
  margin: 0.5rem 0;
}
.emphasis-paragraph-footer a {
  transition: 0.3;
}
.emphasis-paragraph-footer a:hover {
  color: var(--sage);
  text-decoration: underline;
}

.section-header span {
  border-style: none none dashed none;
  border-width: thin;
  border-color: var(--highlight-color);
  font-size: 2.5rem;
}
.section-header h4 {
  margin: 0 0 10px 0;
}

.section-anchors {
  margin-top: 0;
}
.section-anchors a {
  color: #000000;
  text-decoration: none;
}
.section-anchors a:not(:first-child)::before {
  content: ' · ';
}

.subsection-header span {
  border-style: none none none none;
  border-width: thin;
}
.subsection-header span::before {
  content: ' 👁 ';
}

.border-thin-selectable {
  border-style: solid;
  border-width: 0.5px;
  transition: 0.3s;
}
.border-thin-selectable:hover {
  border-color: var(--highlight-color);
}

.border-medium-selectable {
  border-style: solid;
  border-width: 2px;
  transition: 0.3s;
}
.border-medium-selectable:hover {
  border-color: var(--highlight-color);
}

.border-separation {
  border-style: solid none none none;
  border-width: 0.5px;
}

.border-separation-bottom {
  border-style: none none solid none;
  border-width: 0.5px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.thumbnail {
  width: 200px;
}

.skill-tag {
  color: #000000;
  font-weight: bold;
  text-shadow: -1px 1px 2px #ffffff;
  border-radius: 2px;
  border-width: 1px;
  padding: 3px;
  line-height: 27px;
}

.top-skill-tag {
  --c1: #60696D;
  --c2: #D3D2D5;
  --c3: #7C7F85;
}

.social-icon {
  width: 20px;
}

.gallery-thumbnail {
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  background-color: var(--gray);
  padding: 5px;
}

.gallery-thumbnail-toolbar {
  background: var(--sage);
  display: flex;
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.gallery-thumbnail-toolbar button {
  background: var(--gray);
  width: 16px;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 1px;
  cursor: pointer;
}

@media (max-width:500px) {
  .nav-menu {
    display: none;
    width: 100%;
  }
  .nav-menu li a {
    display: block;
    width: 100%;
  }
  #nav-menu-toggle-icon {
    display: block;
  }
  #nav-menu-toggle-icon span {
  }

  #nav-menu-toggle:checked ~ .nav-menu {
    display: block !important;
  }
}

@media (max-width:600px) {
  article {
    padding: 1.5rem;
  }

  .intro-card h1 {
    font-size: 3rem !important;
    margin-top: 0;
  }
}
