@import 'tailwindcss';

@import "./typography.css";
@import "./colors.css";

@import "./components/project-preview.css";
@import "./components/emphasis-paragraph.css";
@import "./components/gallery-thumbnail.css";
@import "./components/intro-card.css";

body, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: var(--body-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
  color: var(--black);
}

*::selection {
  color: var(--wheat);
  background-color: var(--green);
}

nav {
  border-style: none none solid none;
  border-color: #000000;
  border-width: 2px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: var(--gray);
  border-color: #ffffff;
  border-width: 3px;
  border-style: groove none;
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 45% 70%, 0% 70%);*/
}
nav ul {
  display: flex;
  flex: initial;
  list-style-type: none;
}
nav li {
  flex: initial;
  padding: 10px;
  text-align: center;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
}
nav a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  border-style: dotted;
  border-width: 1px;
  border-color: transparent;
}
nav a:hover {
  color: var(--highlight-color);
  border-style: dotted;
  border-width: 1px;
  border-color: var(--highlight-color);
}

article {
  padding: 1.5rem 6rem;
}

img {
  max-width: 100%;
}

footer {
  background-color: var(--gray);
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#toolbar-clock {
  flex: initial;
  border-style: groove;
  border-color: #000000 #ffffff #ffffff #000000;
  border-width: 2px;
  margin: 2px 5px 2px 0;
  padding: 0 4px;
  width: 75px;
  text-align: center;
  font-family: sans-serif;
}

#nav-menu-toggle, #nav-menu-toggle-icon {
  display: none;
}

#nav-menu-toggle-icon {
  padding: 10px;
  text-align: center;
  border-style: groove;
  border-color: #ffffff #000000 #000000 #ffffff;
  border-width: 2px;
  width: 75px;
  height: 50px;
}
#nav-menu-toggle-icon span {
  display: block;
  line-height: 3px;
  font-weight: bold;
}

#about h4::before {
  content: url("/static/images/about-icon.png");
}

#projects h4::before {
  content: url("/static/images/projects-icon.png");
}

#gallery h4::before {
  content: url("/static/images/gallery-icon.png");
}

.bg-pattern {
  background-image: radial-gradient(circle, #e0e0e0 1px, transparent 0px);
  background-size: 20px 20px;
}

.main-button {
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  border-color: #050709;
  border-width: 1px;
  transition: 0.3s;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%); */
  width: 200px;
  color: #050709;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Audiowide, sans-serif;
  font-size: 1em;
}
.main-button:hover {
  border-color: var(--wheat);
  color: var(--wheat);
  background: var(--highlight-color);
}
.main-button:active {}



.container {
  padding: 1rem;
}

.section-header span {
  border-style: none none dashed none;
  border-width: thin;
  border-color: var(--highlight-color);
  font-size: 2.5rem;
}
.section-header h4 {
  margin: 0 0 10px 0;
  font-family: VT323, Raleway, sans-serif;
}

.section-anchors {
  margin-top: 0;
}
.section-anchors a {
  color: #000000;
  text-decoration: none;
}
.section-anchors a:not(:first-child)::before {
  content: ' · ';
}

.subsection-header span {
  border-style: none none none none;
  border-width: thin;
}
.subsection-header span::before {
  content: ' 👁 ';
}

.border-thin-selectable {
  border-style: solid;
  border-width: 0.5px;
  transition: 0.3s;
}
.border-thin-selectable:hover {
  border-color: var(--highlight-color);
}

.border-medium-selectable {
  border-style: solid;
  border-width: 2px;
  transition: 0.3s;
}
.border-medium-selectable:hover {
  border-color: var(--highlight-color);
}

.border-separation {
  border-style: solid none none none;
  border-width: 0.5px;
}

.border-separation-bottom {
  border-style: none none solid none;
  border-width: 0.5px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.thumbnail {
  width: 200px;
}

.skill-tag {
  color: #000000;
  font-weight: bold;
  text-shadow: -1px 1px 2px #ffffff;
  border-radius: 2px;
  border-width: 1px;
  padding: 3px;
  line-height: 27px;
}

.top-skill-tag {
  --c1: #60696D;
  --c2: #D3D2D5;
  --c3: #7C7F85;
}

.social-icon {
  width: 20px;
}

@media (max-width:500px) {
  .nav-menu {
    display: none;
    width: 100%;
  }
  .nav-menu li a {
    display: block;
    width: 100%;
  }
  #nav-menu-toggle-icon {
    display: block;
  }
  #nav-menu-toggle-icon span {
  }

  #nav-menu-toggle:checked ~ .nav-menu {
    display: block !important;
  }
}

@media (max-width:600px) {
  article {
    padding: 1.5rem;
  }
}
