html {
  background-color: black;
  color: yellow;
}

h1, h2, h3 {
  color: yellow;
  font-family: garamond;
}

button {
  border-color: yellow;
  padding: 1%;
  background-color: yellow;
  border-radius: 10px;
}

input, textarea, select {
  width: 100%;
}

textarea {
  resize: none;
  height: 300px;
}

.fileInput {

}

.stackable {
  margin-bottom: 5%;
}

.stackable-top {
  margin-top: 1%;
}


.whitespace-sm {
  padding: 3%;
}

.text-center {
  text-align: center;
}

.centered {
  display: block;
  margin: auto;
}

.input-padding {
  padding: 1% 0;
}

.main {
  border-style: dotted;
  border-color: yellow;
  padding: 3%;
  width: 80%;
}
