{% raw %}
{% import "facebook.html" as facebook %}
{% import "twitter.html" as twitter %}
{% import "youtube.html" as youtube %}
{% import "list-item.html" as listItem %}

{% set socialMediaOptions = [
  {value: "facebook", title: "Facebook"},
  {value: "instagram", title: "Instagram"},
  {value: "tiktok", title: "TikTok"},
  {value: "twitter", title: "Twitter"},
  {value: "youtube", title: "Youtube"}
] %}

  {% for creator in creators %}
    <div id="{{ creator.name }}" class="container col-6 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <span class="creator-name">{{ creator.name }}</span>
            <span class="feed-count badge badge-secondary float-right">{{ creator.feedCount }} Feeds</span>
          </h5>


          <div class="feeds container mb-2">
            {% for option in socialMediaOptions %}
              {% if creator.feeds[option.value] %}
                <div class="facebook-feeds">
                  {{ listItem.feed(creator.feeds[option.value], option.title) }}
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <button type="button" class="newFeedBtn btn btn-primary mb-2">New Feed</button>
          <div class="newFeedContainer">
            <div class="newFeedForm form-group mb-2 hidden">
              <select class="newFeedPlatform form-control">
                {% for option in socialMediaOptions %}
                  <option value="{{ option.value }}">{{ option.title }}</option>
                {% endfor %}
              </select>
              <input type="text" class="newFeedUrl form-control mb-2" placeholder="URL">
              <input type="hidden" class="newFeedCreator" value="{{ creator.name }}">

              <button type="button" class="submitNewFeedBtn btn btn-primary">Add</button>
              <button type="button" class="closeNewFeedFormBtn btn btn-warning">Close</button>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button type="button" class="newTagBtn btn btn-warning mb-2">+</button>
          <div class="newTagContainer">
            <div class="newTagForm form-group mb-2 hidden">
              <input type="text" class="newTagName form-control mb-2" placeholder="Tag Name">
              <button type="button" class="submitNewTagBtn btn btn-primary">Add</button>
              <button type="button" class="closeNewTagFormBtn btn btn-warning">Close</button>
            </div>
          </div>
          <div class="tags">
          {% for tag in creator.tags %}
            <span data-search-tag="{{ tag }}" class="badge badge-pill badge-dark">{{ tag }}</span>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endraw %}
