{% raw %}
  {% macro feed(sources, title) %}
    <p>{{ title }}</p>
    {% for source in sources %}
      <div class="col-6">
        <a target="_blank" href="{{ source }}"><small>Profile {{ loop.index }}</small></a>
      </div>
    {% endfor %}
  {% endmacro %}
{% endraw %}
